@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@900&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #0c192c;;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    flex-direction: column;
    overflow-y: auto;
}
body::-webkit-scrollbar{
    display: none;
}
.upper {
    display: flex;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top: 0px;
    height: 10vh;
    width: 100%;
    background-color: #0c192c;
    font-family: 'Inria Sans', sans-serif;
    z-index: 1;
    justify-content: space-between;
}

.title{
    color: white;
    padding-left: 30px;
    font-size: 17px;
}
.title h1{
    padding-left: 55px;
    font-family: "Major Mono Display", monospace;
    text-shadow: -1px 1px #000, -2px 2px #000, -3px 3px #000, -4px 4px #000, -5px 5px #000, -6px 6px #000, -7px 7px #000, -8px 8px #000;
}
.sub_title{
    display: flex;
    color: white;
    font-family: 'Inria Sans', sans-serif;
    font-size: 14px;
    padding-right: 77px;
    padding-top: 10px;
    gap: 20px;
}
.main-body{
    display: flex;
    flex-direction: column;
    /* margin-top: 119px; */
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.main-body-content{
    position: absolute;
    height: 100%;
    width: 100%     ;
    background: url("/images/backgroundimg1.png");
    background-size: cover;
    background-position:center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.half-container{
    display: flex;
    position: absolute;
    width: 90%;
    flex-direction: row;
    margin-top: 50px;
}
.footer-container{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    background-color: #1a1a1a;
    height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 20vh;
    color: white;
}
.footer-container h5{
    font-family: 'Inria Sans', sans-serif;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.half1{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.microsoft-icon{
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/microsoft.png);
}
.half2{
    display: flex;
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/3.jpg);
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.half2-container{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0c192ce8;
    padding: 20px;
}
.half2 h3{
    width: 460px;
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    text-align: center;
    margin: 0;
}
.half1 h3{
    width: 460px;
    padding-top: 20px;
    color: white;
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.half1 h2{
    width: 80%;
    margin: 0 8px 16px;
    color: #fff;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-size: 3.625rem;
    line-height: 64px;
    letter-spacing: 2px;
    text-shadow: -1px 1px #000, -2px 2px #000, -3px 3px #000, -4px 4px #000, -5px 5px #000, -6px 6px #000, -7px 7px #000, -8px 8px #000;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #000;
    padding: 0;
}
.sign-in-button{
    outline: none;
    border: none;
    width: 284px;
    height: 64px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    background-color: #ffc629;
    color: white;
    cursor: pointer;
}
.join-button{
    outline: none;
    border: none;
    width: 284px;
    height: 64px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 80px;
    background-color: #ffc629;
    color: white;
    cursor: pointer;
}
.register-container{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 390px;
    height: 220px;
    padding: 40px;
    background-color: white;
    border-radius: 6px;
    opacity: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    transition: opacity 0.3s ease-in;
}
.register-container h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin: 0;
    font-weight: 400;
}
.register-container h3{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 0;
    font-weight: 400;
    color: grey;
    cursor: pointer;
}
.register-main-text{
    display: flex;
    align-items: start;
    height: 100vh;
}
.button-container{
    height: 50vh;
    position: relative;
    bottom: 15px;
}
.microsoft-login{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid grey;
    border: none;
    padding: 20px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    background-color: #33b1f9;
    border-radius: 6px;
}
.line-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.action-buttons{
    position: relative;
    top: 15px;
}
.line-container h4{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
}
.line{
    min-height: 1px;
    min-width: 116px;
    background-color: #DCDCDC;
}
.back-icon{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    position: relative;
    right: 56px;
    bottom: 15px;
    cursor: pointer;
}
#blur_shade{
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 1;
    opacity: 0;
    display: none;
    position: absolute;
    transition: opacity 0.3s ease-in;
}
.bottom-support-links{
    flex: 1;
    width: 100%;
    height: 200px;
}