@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh; /* 100% of the viewport height */
    user-select: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;   
}
.image{
    width: 350px;
    height: 90vh;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    background-image: url(/images/me1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
}
.name{
    color: white;
    position: relative;
    top: 0px;
    font-family: 'Inria Sans', sans-serif;
    padding-left: 10px;
    user-select: none;
}
.image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.312) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.285) 100%);
    z-index: 1;
    border-radius: 10px;
}

.actions{
    padding-left: 15px;
    padding-bottom: 20px;
    user-select: none;
    z-index: 2;
}
.age{
    position: relative;
    color: rgb(235 235 235 / 96%);
    user-select: none;
    padding-left: 10px;
    font-family: 'Inria Sans', sans-serif;
}
.branch{
    position: relative;
    color: rgb(255, 255, 255);
    user-select: none;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Inria Sans', sans-serif;
}
.details{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-left: 10px;
    z-index: 2;

}
.basic{
    display: flex;
    flex-direction: row;
    height: 60px;
}
.bar {
    flex-grow: 1;
    height: 3px;
    border-radius: 30px;
    background-color: rgb(207, 207, 207);
    z-index: 10;
}
#bar1{
    background-color: white;
}
.main-bar {
    position: absolute;
    top: 1px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 2px;
    box-sizing: border-box; /* Include padding in the width and height calculations */
}

.container {
    flex: 1; /* Grow to fill available space */
    display: flex;
    height: 100vh;
}

.half1 {
    flex: 0.333; /* Each div takes half of the available space */
    border: 1px solid #ccc;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    max-width: 385px;
}
.half {
    flex: 1;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow-y: hidden;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.profile-picture{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 3px;
  border: 1px solid #c6c6c6;
}
.profile-picture-div{
  flex: 0.2;
  position: relative;
  transition: all 0.5s ease-in;
}
.profile{
  display: flex;
  height: 55px;
  padding: 10px;
  cursor: pointer;
  margin: 0;
  position: relative;
  transition: background-color 0.5s ease-in, margin 0.5s ease-in;
  align-items: center;
}
.profile:hover{
    background-color: #FCFCFC;
}
.name1{
  font-family: 'Inria Sans', sans-serif;
  flex: 1;
  font-size: 20px;
  transition: opacity 0.3s ease-in;
}
.text1{
  font-size: 20px;
  font-family: 'Inria Sans', sans-serif;
}
.text{
  font-size: 14px;
  font-family: 'Inria Sans', sans-serif;
  opacity: 0.7;
  margin: 0;
}
.empty-matches{
  margin: auto;
  display: none;
  flex-direction: column;
  transition: opacity 0.5s ease-out;
}
.current-matches {
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 10px;
    max-width: 382px;
}

.available-matches::-webkit-scrollbar {
    height: 8px;
    padding: 10px;
}

.available-matches::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;   
    border-radius: 10px;
    width: 20px;
    padding: 10px;
    transition: background-color 0.3s ease-in;
}
.available-matches::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;   

}
.current-matches h3{
    margin: 0;
    font-family: 'Inria Sans', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin-left: 5px;
}
.available-matches{
    display: flex;
    gap: 10px;
    max-width: 382px;
    overflow-x: auto;
    padding: 0px 0px 10px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.available-matches h6{
    margin: 0;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: 100;
}
.current-matches-children{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 3px;
    cursor: pointer;
    flex-shrink: 0;
    border: 4px solid rgb(25, 48, 70);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.matches-settings{
  display: flex;
  flex: 1; 
  overflow: hidden;
  flex-direction: column;
}
.matches{
    transition: opacity 0.5s ease-out;
}
.match-children{
    width: 100%;
    padding: 10px 10px 10px 10px;
    height: 52px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}
.match-children:hover{
    background-color: #F6F6F6;
}
.match-image{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/me2.jpg");
    margin-left: 3px;
}
.match-details{
    width: 80%;
    height: 52px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.match-name{
    font-family: 'Poppins', sans-serif;
    font-size:  16px;
}
.match-previous-message{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #767676;
    max-width: 275px;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden;    /* Hides any overflowing text */
    text-overflow: ellipsis; /* Displays an ellipsis (...) when text overflows */
}
.text1-container{
  display: flex;
  justify-content: center;
}
.link{
  background-image: url("/images/link.png");
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}
.match-candidate-container{
    width: 787px;
    height: 560px;
    border-radius: 21px;
    background-color: rgb(25, 48, 70);
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    transition: opacity 0.3s ease-in-out;
    align-self: center;
    margin: 0;
}
.match-candidate-container::-webkit-scrollbar {
    display: none;
  }
.e{
    min-height: 100%;
    scroll-snap-align: start; 
    background-color: rgb(25, 48, 70);
    border-radius: 20px;
    display: flex;
}
.like-reaction{
    min-height: 560px; 
    min-width: 787px;
    scroll-snap-align: start; 
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    z-index: -5;
    position: absolute;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
}
.icon-container{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #ed3939;;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform: translateY(40px);

}
.icon-container span{
    font-size: 60px;
}
.dislike-reaction{
    min-height: 560px; 
    min-width: 787px;
    scroll-snap-align: start; 
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    z-index: -5;
    position: absolute;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
}
.icon-container2{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #767676;;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform: translateY(40px);
}
.icon-container2 span{
    font-size: 60px;
    color: #767676;
}
.matched-animation-container{
    min-height: 560px; 
    min-width: 787px;   
    scroll-snap-align: start; 
    border-radius: 20px;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
    background-color: rgb(25, 48, 70);
    flex-direction: column;
    gap: 20px;
}

.matched-animation-container h2{
    font-family: 'Poppins', sans-serif;
    color: white;
}
.keep-swiping-button{
    width: 120px;
    height: 10px;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    margin-top: 60px;
    cursor: pointer;
}
.match-users-image-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.subjects{
    width: 150px;
    height: 150px;
    border-radius: 25px;
    background-color: black;
    border: 6px solid white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.subject1{
    transform: rotate(-10deg);
}
.subject2{
    transform: rotate(10deg);
}
.candidate_image{
    flex: 1;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.expand-image-container{
    width: 20px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;
    opacity: 0;
}
.expand-image{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    color: white;
    transform: rotate(45deg);
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
.edit-user-tags {
    z-index: 3;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 460px;
    height: 366px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    align-items: center;
    transition: width 0.2s ease-in;
    display: none;
}
.progress-bar-container{
    display: flex;
    margin-bottom: 15px;
    width: 33.33%;
    height: 5px;
    border-radius: 20px;
    background-color: rgb(189, 189, 189);
}
.data-entry-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    position: relative;
}
.main-progress{
    height: 5px;
    width: 15%;
    background-color: #F8C537;
    border-radius: 20px;
    transition: width 0.3s ease-in-out;
}
.progress{
    width: 9px;
    height: 9px;
    background-color: #d9d9d984;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}
.progress-1{
    background-color: #F8C537;
}
.slidecontainer {
    width: 80%;
    height: 114px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    align-items: center;
}
.slidecontainer h4{
    margin: 0;
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
}
.slider {
    -webkit-appearance: none;
    width: 300px;
    height: 2px;
    background: linear-gradient(to right, #F8C537 0%, #F8C537 50%, #d3d3d3 50%, #d3d3d3 100%);
    border-radius: 20px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 15px;
    }
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background: #F8C537;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #F8C537;
    cursor: pointer;
}
.main-subject-container h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    transition: transform 0.2s ease-in-out, opacity 0.4s ease-in-out;
    position: relative;
}
.icon-container-tag {
    min-height: 84px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.candidate-details{
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.name-age{
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.university{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.candidate-details-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0px;
    padding: 30px;
}
.candidate-bio-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px;
    padding: 30px;
    justify-content: center;
    align-content: center;
}
.about{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: rgb(60, 60, 60);
    margin: 20px;
    font-weight: 400;
}
.text3{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: rgb(60, 60, 60);
    margin: 0;
}
.candidate-question-container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.scroll-container{
    width: 350.5;
    position: fixed;
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}
.scroll-border{
    width: 5px;
    height: 100px;
    border-radius: 20px;
    background-color: #F6F6F6;
    margin-left: 11px;
    margin-top: 16px;
}
.scroll{
    width: 5px;
    background-color: #FFC629;
    border-radius: 20px;
    position: relative;
    top: 0%;
}
.candidate-text{
    color: white;
}
.back-icon{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    display: none;
    transition: opacity 0.3s ease-out;
    opacity: 0;
}
.settings{
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    align-items: center;
    display: none;
    transition: opacity 0.1s ease-in;
}
.settings-children h2{
    font-weight: 400;
}
.settings-children{
    font-size: 10px;
    width: 336px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.2s ease-in;
    cursor: pointer;

}
.settings-children:hover{
    background-color: #FCFCFC;
}
.log-out h2{
    color: #ed5252;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: none;
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}
.header h2{
    font-weight: 500;
    margin: 17px;
    font-size: 20px;
}
.image-container{
    display: flex;
    flex: 0.5;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}
.image-profile{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    flex-direction: column;
}
.image1-profile-container{
    cursor: pointer;
    /* flex: 0.4; */
    border: 1px solid #ccc;
    height: 100%;
    display: flex;
    border-radius: 15px;
    padding: 10px;
    width: 40%;
}
.image2-profile{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.image2-profile-container{
    flex: 0.5;
    border: 1px solid #ccc;
    display: flex;
    height: 100%;
    cursor: pointer;
    border-radius: 15px;
    padding: 10px;
}
.image3-profile{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.image3-profile-container{
    flex: 0.5;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 100%;
    display: flex;
    border-radius: 15px;
    padding: 10px;
}
.image4-profile{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.image4-profile-container{
    cursor: pointer;
    border: 1px solid #ccc;
    height: 100%;
    display: flex;
    border-radius: 15px;
    padding: 10px;
    width: 40%;
}
.view-image-container{
    width: 404px;
    height: 539px;
    background-color: black;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/me4.jpg");
    z-index: 3;
}
.image-container-1{
    display: flex;
    height: 50%;
    align-content: center;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}
.image-container-2{
    display: flex;
    /* flex: 0.5; */
    height: 50%;
    gap: 10px;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    margin: 0;
}
.image-main-container{
    /* width: 50%; */
    /* flex: 1; */
    height: 570px;
    width: 658px;
    margin: 0;
    /* margin-top: 30px; */
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 10%;
    margin-bottom: 13px;
}
.delete-rectangle{
    width: 38px;
    height: 38px;
    display: flex;
    border-radius: 0px 0px 0px 10px;
    background-color: white;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.delete-confirmation-box-container {
    width: 380px;
    height: 212px;
    background-color: white;
    position: absolute;
    border-radius: 8px;
    display: none;
    align-items: center;
    justify-content: space-between;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    padding: 20px;
    z-index: 3;
}
.delete-confirmation-box-container h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    max-width: 300px;
    margin-top: 35px;
}   
.delete-confirmation-button{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c192c;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    margin-bottom: 15px;
    cursor: pointer;
}
.outer-blur{
    position: absolute;
    height: 100vh;
    width: 100%;
    display: none;
    z-index: 2;
    background: rgba(0,0,0,.6);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.details-container{
    margin: 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-details-container{
    width: 100%;
    flex: 1;
    gap: 10px;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
.preview-container{
    display: flex;
    width: 495px;
    margin: 0px 57px 0px 58px;
    justify-content: center;
}
.preview{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.preview h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    margin: 8;
    font-size: 16px;
    margin-left: 20px;
}
.about-me-container{
    display: flex;
    width: 495px;
    margin: 0px 57px 0px 58px;
    justify-content: center;
    transition: height 0.2s ease-in, background-color 0.2s;
    border-radius: 20px;
}
.from-container{
    display: flex;
    width: 495px;
    margin: 0px 57px 0px 58px;
    justify-content: center;
    transition: height 0.2s ease-in, background-color 0.2s;
    border-radius: 20px;
}
.action-buttons-about-me{
    display: none;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px ;
    margin-top: 8px;
}
.about-me-container:hover{
    background-color: #FAFAFA;
}
.save-button{
    width: 80px;
    background-color: #0c192c;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center ;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
}
.about-me-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
}
.about-me-1{
    display: flex;
    justify-content: space-between;
}
.about-me{
    width: 100%;
    height: 72px;
    border-radius: 40px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}
.about-me-text{
    font-family: 'Poppins', sans-serif;
    border: solid #CACACA 1px;
    height: 72px;
    width: 430px;
    border-radius: 15px;
    outline: none;
    display: none;
    min-height: 66px;
    text-decoration: none;
    resize: none;
    padding: 20px;
}
.from-text{
    font-family: 'Poppins', sans-serif;
    border: solid #CACACA 1px;
    width: 460px;
    border-radius: 50px;
    outline: none;
    display: none;
    min-height: 10px;   
    height: 10px;
    text-decoration: none;
    resize: none;
    padding: 18px;
}
.about-me h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 17px 0px 22px 18px;
    font-size: 20px;
    margin-left: 20px;
}
.basics-container{
    display: flex;
    width: 495px;
    margin: 0px 57px 20px 58px;
    justify-content: center;
    transition: height 0.2s ease-in, background-color 0.2s;
    border-radius: 20px;
}
.basics-container:hover{
    background-color: #FAFAFA;
}
.basics-2{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    display: none;
    margin-bottom: 10px;
}
.basics-1{
    display: flex;
    justify-content: space-between;
}
.basics-3{
    display: flex;
    justify-content: space-between;
}
.basics-3 h2{
    margin-bottom: 0px;
}
.basics-4{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* display: none; */
    padding: 20px;
}
#citySearch{
    outline: none;
    border: none;
    width: 97%;
    height: 40px;
    border-radius: 50px;
    padding: 20px;
}
.basics-children{
    border: solid 1px #c6c6c6;
    border-radius: 20px;
    height: 40px;
    display: flex;
    width: 400px;
    padding: 0px 20px 0px 20px;
    align-items: center;
    justify-content: space-between;
}
.basics{
    width: 100%;
    height: 72px;
    border-radius: 40px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}
.about-me-text{
    font-family: 'Poppins', sans-serif;
    border: solid #CACACA 1px;
    height: 72px;
    width: 430px;
    border-radius: 15px;
    outline: none;
    display: none;
    min-height: 66px;
    text-decoration: none;
    resize: none;
    padding: 20px;
}
.basics-1-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 17px 0px 22px 18px;
    font-size: 20px;
    margin-left: 20px;
}
.basics-children-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-left: 18px;
}
.basics-children-text-details{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-left: 18px;
    color: #b8b8b8;;
}
.basic-children-div{
    display: flex;
    align-items: center;
}
.right-icon{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    color: #CACACA;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    margin-right: 5px;
}
.down-icon{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    color: #CACACA;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    margin-top: 15px;
    direction: ltr;
    margin-right: 8px;
}
.straight-icon{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 23px;
    color: #CACACA;
    line-height: 1;
    transform: rotate(310deg);
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}
.basic-children-icons{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 23px;
    color: #CACACA;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;  
}
.close-icon{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    position: relative;
    font-size: 23px;
    left: 3px;
    bottom: 1px;
    color: #CACACA;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr; 
}
.action-buttons{
    position: absolute;
    transform: translate(292px, 515px);
    display: flex;
    gap: 20px;
    z-index: 2;
}
.like{
    width: 90px;
    height: 90px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #E3E3E1;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.dislike{
    width: 90px;
    height: 90px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #E3E3E1;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.like-icon{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    color: #ed3939;;
}
.dislike-icon{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    color: #767676  ;
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
}
.user-preview-container {
    width: 787px;
    height: 560px;
    border-radius: 21px;
    background-color: rgb(25, 48, 70);
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    transition: opacity 0.5s ease-in-out;
    display: none;
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -280px; /* Half of height */
    margin-left: -393.5px; /* Half of width */
}   
.user-preview-container::-webkit-scrollbar {
    display: none;
}
.user-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.e{
    min-height: 100%;
    scroll-snap-align: start; 
    background-color: rgb(25, 48, 70);;
    border-radius: 20px;
    display: flex;
}
.match-messages-counter{
    display: flex;
    flex-direction: column;
}
.scroll-container-preview{
    width: 350.5px;
    position: fixed;
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}
.scroll-preview{
    width: 5px;
    background-color: #FFC629;
    border-radius: 20px;
    position: relative;
    top: 0%;
    height: 25px;
}
.user-message-container{
    width: 100%;
    flex: 1;
    display: none;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    overflow-x: hidden;
}
.user-message{
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.user-messages {
    max-height: 535px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.user-messages::-webkit-scrollbar {
    width: 8px;
}
.user-messages::-webkit-scrollbar-thumb {
    background-color: #0c192c;
    border-radius: 10px;
}
.message-container{
    width: 100%;
    height: max-content;
}
.message{
    max-width: 480px;
    width: max-content;
    padding: 8px 15px 8px 15px;
    background-color: #0c192c;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border-radius: 50px;
    margin: 4px 0px 0px 0px;
}
.me{
    max-width: 480px;
    width: max-content;
    height: max-content;
    background-color: #f1f1f1;
    color: black;
    padding: 8px 15px 8px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border-radius: 50px;
    margin-left: auto;
    text-align: right;
    font-weight: 500;
}
.send-message-box-container{
    border: 3px solid #0c192c;
    border-radius: 50px;
    padding: 5px 5px 5px 20px;
    display: flex;
    align-items: center;
}
.send-message-box{
    resize: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: none;
    outline: none;
    width: 100%;
    height: 24px;
    min-height: 18px;
    overflow: auto;
    padding: 0px;
}
.user-image-chat{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-image: url(/images/me1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.action-buttons-chat-header{
    display: flex;
    flex-direction: row-reverse;
}
.send-icon-container{
    background-color: #0c192c;
    border-radius: 50%;
    padding: 5px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.send-icon{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    color: white  ;
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
}
.header-message{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
    padding: 0px 10px 0px 20px;
}
.icon-header{
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
}
.icon-header:hover{
    background-color: #CACACA;
}
.header-message h2{
    font-weight: 500;
    margin: 17px;
    font-size: 20px;
}
.user-details-icon-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.user-details-icons{
    font-size: 17px;
}
.icon-container-details{
    display: flex;
    background-color: #0c192c;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    gap: 6px;
    font-size: 13px;
    margin: 0;
    padding: 7px 12px 7px 12px;
}
.icon-container-details p{
    margin: 0;
}
.user-name-icon{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 80px;
    color: #F8C537;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    transition: transform  0.2s ease-in-out, opacity 0.2s ease-in-out;
    position: absolute;
}
.height-icon{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 80px;
    color: #F8C537;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    transition: transform  0.2s ease-in-out, opacity 0.2s ease-in-out, margin-right 0.2s ease-in-out;
    transform : translateX(-200px);
    opacity: 0;
    position: absolute;
}
#height-icon{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 80px;
    color: #F8C537;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    transition: transform  0.2s ease-in-out, opacity 0.2s ease-in-out, margin-right 0.2s ease-in-out;
    transform : translateX(0px);
    opacity: 1;
    position: absolute;
}
.next-button-container{
    margin-top: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.next-button{
    width: 155px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8C537;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 409px;
    position: relative;
    overflow-x: hidden;
    justify-content: flex-start;
    align-items: center;
}
.options-children {
    width: 100%;
    border: solid 1px #DCDCDC;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    border-radius: 30px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.1s ease-in, border 0.3s ease-in;
    min-height: 40px;
    box-sizing: border-box;
}
.options-children:hover{
    background-color: #f0f0f0;
    border: solid 1px #C6C6C6;
}
.options:first-child {
    margin-top: 16px;
}
.moveable-items{
    display: flex;
    width: 100%;
    /* overflow-y: auto; */
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.2s ease-in-out, opacity 0.4s ease-in-out;
}
.moveable-items::-webkit-scrollbar {
    width: 5px;
}

.moveable-items::-webkit-scrollbar-thumb {
    background-color: #DCDCDC;
    border-radius: 6px;
}

.moveable-items::-webkit-scrollbar-track {
    background-color: transparent;
}
.display-state-city-container {
    width: 452px;
    background-color: white;
    display: none;
    flex-direction: column;
    max-height: 200px;
    border-radius: 9px;
    border: 1px solid #dedede;
    padding: 10px 0px 10px 0px;
    gap: 10px;
    z-index: 1;
}

.display-state-city-container::-webkit-scrollbar {
    width: 8px;
}

.display-state-city-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.display-state-city-container::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.state-city-inner {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: auto;
    gap: 3px;
    align-items: center;
    z-index: 1;
}

.state-city-inner::-webkit-scrollbar {
    width: 8px;
}

.state-city-inner::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.state-city-inner::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 4px;
}

.display-state-city-children {
    width: 99%;
    height: 30px;
    min-height: 30px;
    padding-left: 4px;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    font-family: 'Poppins', sans-serif;
}
.display-state-city-children:hover {
    background-color: #f4f4f4;
}


@keyframes center {
    from { left: 0; }
    to   { left: calc(50% - 50px); }
}
@keyframes back {
    from   { left: calc(50% - 50px); }
    to     { left: 0; }
}