@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh; /* 100% of the viewport height */
    user-select: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;   
}
.image{
    width: 350px;
    height: 90vh;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    background-image: url(/images/me1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
}
.name{
    color: white;
    position: relative;
    top: 0px;
    font-family: 'Inria Sans', sans-serif;
    padding-left: 10px;
    user-select: none;
}
.image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.312) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.285) 100%);
    z-index: 1;
    border-radius: 10px;
}

.actions{
    padding-left: 15px;
    padding-bottom: 20px;
    user-select: none;
    z-index: 2;
}
.dislike{
    border: none;
    height: 30;
    outline: none;
    position: relative;
    background-color: rgb(199, 58, 58);
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-family: sans-serif;
    user-select: none;
    font-family: 'Inria Sans', sans-serif;
    width: 150px;
    border-radius: 5px;
    margin-right: 5px;
}
.like{
    border: none;
    height: 30;
    font-family: 'Inria Sans', sans-serif;
    user-select: none;
    outline: none;
    position: relative;
    background-color: rgb(91, 199, 58);
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    width: 150px;
    border-radius: 5px;
    margin-left: 5px;
}
.age{
    position: relative;
    color: rgb(235 235 235 / 96%);
    user-select: none;
    padding-left: 10px;
    font-family: 'Inria Sans', sans-serif;
}
.branch{
    position: relative;
    color: rgb(255, 255, 255);
    user-select: none;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Inria Sans', sans-serif;
}
.details{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-left: 10px;
    z-index: 2;

}
.basic{
    display: flex;
    flex-direction: row;
    height: 60px;
}
.bar {
    flex-grow: 1;
    height: 3px;
    border-radius: 30px;
    background-color: rgb(207, 207, 207);
    z-index: 10;
}
#bar1{
    background-color: white;
}
.main-bar {
    position: absolute;
    top: 1px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 2px;
    box-sizing: border-box; /* Include padding in the width and height calculations */
}

.container {
    flex: 1; /* Grow to fill available space */
    display: flex;
    height: 100vh;
}

.half1 {
    flex: 0.333; /* Each div takes half of the available space */
    border: 1px solid #ccc;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;

}
.half {
    flex: 1;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.profile-picture{
  background-color: black;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-image: url('https://gew3.bumbcdn.com/p1002/hidden?euri=Pvn-bhvu-F9YkxaSMlxX0S91yBWOWIU7v8ppliN5yfLr8AQtAnXft1ZQB.nvoHsrXuFIV5O23uQk6cCL1kLADfTuHFctY5bcROUbA6vO53om4wN6zu0DSCQV.pBrXLe.8KEcWpP-AM46IrwnY0-Y3EtHyf4G8cBDrFBnzd03H3bo9yvUgD4Kyg&size=60x60&ck=46b3e898bdc8db401d891528a8e58647&h=dTG&gs=k&t=42.1.0.0');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 3px;
}
.profile-picture-div{
  flex: 0.2;
  position: relative;
  transition: all 0.5s ease-in;
}
.profile{
  display: flex;
  height: 55px;
  padding: 10px;
  cursor: pointer;
  margin: 0;
  position: relative;
  transition: background-color 0.5s ease-in, margin 0.5s ease-in;
  align-items: center;
}
.profile:hover{
    background-color: #FCFCFC;
}
.name1{
  font-family: 'Inria Sans', sans-serif;
  flex: 1;
  font-size: 20px;
  transition: opacity 0.3s ease-in;
}
.text1{
  font-size: 20px;
  font-family: 'Inria Sans', sans-serif;
}
.text{
  font-size: 14px;
  font-family: 'Inria Sans', sans-serif;
  opacity: 0.7;
  margin: 0;
}
.empty-matches{
  margin: auto;
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s ease-out;
}
.matches{
  display: flex;
  /* height: 100vh; */
  flex: 1; /* Make the matches div take up all available vertical space */
  overflow: hidden;
  flex-direction: column;
}
.text1-container{
  display: flex;
  justify-content: center;
}
.link{
  background-image: url("/images/link.png");
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}
.match-candidate-container{
    width: 787px;
    height: 560px;
    border-radius: 21px;
    background-color: rgb(25, 48, 70);;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    scroll-snap-type: y mandatory;
    transition: opacity 0.5s ease-in-out;
    align-self: center;
    margin: 0;
}
.match-candidate-container::-webkit-scrollbar {
    display: none;
  }
.e, .d, .f {
    min-height: 100%; /* Each element takes up 100% of the container width */
    scroll-snap-align: start; /* Snap each element to the start of the container */
    background-color: rgb(25, 48, 70);;
    border-radius: 20px;
    display: flex;
  }
.candidate_image{
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image1{
    background-image: url("/images/me4.jpg");
}
.image2{
    background-image: url("/images/me5.jpg");
}
.image3{
    background-image: url("/images/me2.jpg");
}
.image4{
    background-image: url("/images/me4.jpg");
}

.candidate-details{
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.name-age{
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.university{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.candidate-details-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0px;
    padding: 30px;
}
.candidate-bio-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px;
    padding: 30px;
    justify-content: center;
    align-content: center;
}
.about{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: rgb(60, 60, 60);
    margin: 15;
    font-weight: 400;
}
.text3{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: rgb(60, 60, 60);
    margin: 0;
}
.candidate-question-container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.scroll-container{
    width: 350.5;
    position: fixed;
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}
.scroll-border{
    width: 5px;
    height: 100px;
    border-radius: 20px;
    background-color: #F6F6F6;
    margin-left: 11px;
    margin-top: 16px;
}
.scroll{
    width: 5px;
    background-color: #FFC629;
    border-radius: 20px;
    position: relative;
    top: 0%;
}
.candidate-text{
    color: white;
}
.back-icon{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    display: none;
    transition: opacity 0.3s ease-out;
    opacity: 0;
}
.settings{
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    align-items: center;
    display: none;
    transition: opacity 0.1s ease-in;
}
.edit-profile{
}
.settings-children h2{
    font-weight: 400;
}
.settings-children{
    font-size: 10px;
    width: 336px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.2s ease-in;
    cursor: pointer;

}
.settings-children:hover{
    background-color: #FCFCFC;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: none;
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}
.header h2{
    font-weight: 500;
    margin: 17px;
    font-size: 20px;
}
.image-container{
    display: flex;
    flex: 0.5;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}
.image1-profile{
    width: 100%;
    height: 100%;
    background-image: url(/images/me4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 7px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    flex-direction: column;
}
.image1-profile-container{
    cursor: pointer;
    /* flex: 0.4; */
    border: 1px solid #ccc;
    height: 100%;
    display: flex;
    border-radius: 15px;
    padding: 10px;
    width: 40%;
}
.image2-profile{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    background-image: url("/images/me2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: yellow;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.image2-profile-container{
    flex: 0.5;
    border: 1px solid #ccc;
    display: flex;
    height: 100%;
    cursor: pointer;
    border-radius: 15px;
    padding: 10px;
}
.image3-profile{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url("/images/me3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: orange;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.image3-profile-container{
    flex: 0.5;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 100%;
    display: flex;
    border-radius: 15px;
    padding: 10px;
}
.image4-profile{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url("/images/me1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.image4-profile-container{
    cursor: pointer;
    /* flex: 0.4; */
    border: 1px solid #ccc;
    height: 100%;
    display: flex;
    border-radius: 15px;
    padding: 10px;
    width: 40%;
}
.image-container-1{
    display: flex;
    height: 50%;
    align-content: center;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}
.image-container-2{
    display: flex;
    /* flex: 0.5; */
    height: 50%;
    gap: 10px;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    margin: 0;
}
.image-main-container{
    /* width: 50%; */
    /* flex: 1; */
    height: 570px;
    width: 658px;
    margin: 0;
    /* margin-top: 30px; */
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 10%;
    margin-bottom: 13px;
}
.delete-rectangle{
    width: 38px;
    height: 38px;
    display: flex;
    border-radius: 0px 0px 0px 10px;
    background-color: white;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.details-container{
    margin: 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-details-container{
    width: 100%;
    flex: 1;
    gap: 10px;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
.preview-container{
    display: flex;
    width: 495px;
    margin: 0px 57px 0px 58px;
    justify-content: center;
}
.preview{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.preview h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    margin: 8;
    font-size: 16px;
    margin-left: 20px;
}
.about-me-container{
    display: flex;
    width: 495px;
    margin: 0px 57px 0px 58px;
    justify-content: center;
    transition: height 0.2s ease-in, background-color 0.2s;
    border-radius: 20px;
}
.about-me-container:hover{
    background-color: #FAFAFA;
}
.about-me-2{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.about-me-1{
    display: flex;
    justify-content: space-between;
}
.about-me{
    width: 100%;
    height: 72px;
    border-radius: 40px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}
.about-me-text{
    font-family: 'Poppins', sans-serif;
    border: solid #CACACA 1px;
    height: 72px;
    width: 430px;
    border-radius: 15px;
    outline: none;
    display: none;
    min-height: 66px;
    text-decoration: none;
    resize: none;
    padding: 20px;
}
.about-me h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 17px 0px 22px 18px;
    font-size: 20px;
    margin-left: 20px;
}


.basics-container{
    display: flex;
    width: 495px;
    margin: 0px 57px 20px 58px;
    justify-content: center;
    transition: height 0.2s ease-in, background-color 0.2s;
    border-radius: 20px;
}
.basics-container:hover{
    background-color: #FAFAFA;
}
.basics-2{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    display: none;
}
.basics-1{
    display: flex;
    justify-content: space-between;
}
.basics-children{
    border: solid 1px #c6c6c6;
    border-radius: 20px;
    height: 40px;
    display: flex;
    width: 400px;
    padding: 0px 20px 0px 20px;
    align-items: center;
    justify-content: space-between;
}
.basics{
    width: 100%;
    height: 72px;
    border-radius: 40px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}
.about-me-text{
    font-family: 'Poppins', sans-serif;
    border: solid #CACACA 1px;
    height: 72px;
    width: 430px;
    border-radius: 15px;
    outline: none;
    display: none;
    min-height: 66px;
    text-decoration: none;
    resize: none;
    padding: 20px;
}
.basics-1-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 17px 0px 22px 18px;
    font-size: 20px;
    margin-left: 20px;
}
.basics-children-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-left: 18px;
}
.basics-children-text-details{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-left: 18px;
    color: #b8b8b8;;
}
.basic-children-div{
    display: flex;
    align-items: center;
}
.right-icon{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    color: #CACACA;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    margin-right: 5px;
}
.down-icon{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    color: #CACACA;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    margin-top: 15px;
    direction: ltr;
    margin-right: 8px;
}
.straight-icon{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 23px;
    color: #CACACA;
    line-height: 1;
    transform: rotate(310deg);
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}
.basic-children-icons{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 23px;
    color: #CACACA;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;  
}
.close-icon{
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    position: relative;
    font-size: 23px;
    left: 3px;
    bottom: 1px;
    color: #CACACA;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr; 
}
@keyframes center {
    from { left: 0; }
    to   { left: calc(50% - 50px); }
}
@keyframes back {
    from   { left: calc(50% - 50px); }
    to     { left: 0; }
}